{
    "addressResolver": {
        "rejectLevel": "warning"
    },
    "keyboardInterceptor":{
        "activationKey": "pgdown",
        "keyRedefines":{
            "numadd":[
                ["oemplus"]
            ],
            "numsup":[
                ["oemminus"]
            ]
        }
    }
}