{
    "addressResolver": {
        "rejectLevel": "warning"
    },
    "keyboardInterceptor":{
        "activationKey": "pgdown",
        "keyRedefines":{
            "numadd":[
                ["oemplus"]
            ],
            "numsup":[
                ["oemminus"]
            ]
        }
    },
    "buildRangeChanger":{
        "startState": true,
        "newRanges":{
            "400": 40
        },
	"keyShortcut":[
            ["leftshift", "oemplus"]
        ]
    }
}