{
    "addressResolver": {
        "rejectLevel": "warning"
    },
    "keyboardInterceptor":{
        "activationKey": "pgdown",
        "keyRedefines":{
            "numadd":[
                ["oemplus"]
            ],
            "numsup":[
                ["oemminus"]
            ]
        }
    },
    "buildRangeChanger":{
        "startState": true,
        "newRanges":{
            "400": 40
        },
	"keyShortcut":[
            ["leftshift", "oemplus"]
        ]
    },
    "aicLoad":{
	"modFolderRelToStronghold": "plugins",
        "aicFolder": "aics",
        "loadList":[
            "ratWolf.json",
            "vanilla.json"
        ],
        "startState": true,
        "keyConfig":{
            "activate":[
                ["leftshift", "oemcomma"]
            ],
            "reloadMain":[
                ["leftctrl", "oemperiod"]
            ],
            "reloadAll":[
                ["leftshift", "oemperiod"]
            ]
        }
    }
}